@import '../../index.scss';

.pj-graphics {
  .graphics-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    max-width: 750px;
    margin: 0 auto;
    @media screen and (max-width: 800px) {
      display: block;
    }
    .pj-graphic-wrapper {
      display: inline-block;
      border: 3px solid transparent;
      width: 100%;
      padding-bottom: 100%;
      background-size: 110%;
      background-position: center;
      @include transition;
      overflow: hidden;
      box-sizing: border-box;
      &:hover, &:focus {
        outline: none;
        cursor: zoom-in;
        border: 3px solid $purple;
        background-size: 120%;
      }
    }
  }
 
}