@import '../../index.scss';


.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  @include transition;
  position: fixed;
  left: 0;
  padding: 5px;
  top: 0;
  justify-content: space-between;
  z-index: 999;
  border-bottom: 3px solid rgba(0,0,0,0);
  .navbar-left {
    display: flex;
    align-items: center;
    padding-left: 5px;
   .navbar-logo {
      width: 40px;
      height: 40px;
      border: 3px solid rgba(0,0,0,0);
      margin-right: 15px;
      border-radius: 100%;
      @include transition;
      img {
        width: 100%;
      }
      &:hover {
        border: 3px solid $dark-purple;
      }
    }
    .navbar-links {
      display: flex;
      @include no-bullet;
      .navbar-link {
        color: $yellow;
        background: $dark-purple;
        min-width: 50px;
        border-radius: 25px;
        padding: 10px;
        text-decoration: none;
        @include transition; 
        margin-right: 10px;
        &:hover {
          background: $purple;
        }
        &.active {
          background: $yellow;
          color: $darkest-purple;
          &:hover {
            background: $yellow;
            color: $darkest-purple;
            cursor: default;
          }
        }
      }
    }
  }

  .navbar-right {
    display: flex;
    padding-right: 25px;
    align-items: center;
    .navbar-social-media {
      @include no-bullet;
      display: flex;
      .navbar-link {
        color: $dark-purple;
        background: $dark-purple;
        text-decoration: none;
        font-size: 30px;
        @include transition; 
        width: 40px;
        display: inline-flex;
        align-content: center;
        height: 40px;
        position: relative;
        border-radius: 50%;
        margin-right: 10px;
        i {
          background: $yellow;
          width: 24px;
          top: 9px;
          left: 8px;
          height: 20px;
          position: absolute;
          &::before {
            position: absolute;
            margin-top: -5px;
            margin-left: -1px;
          } 
        }
        &:hover {
          background: $purple;
          color: $purple;
          i {
            @include transition; 
            color: $purple;
            background: $yellow;
          }
        }
      }
    }
  }
  @media screen and (max-width: 375px) {
    justify-content: center;
    .navbar-logo {
      display: none;
    }
    .navbar-links {
      font-size: 13px;
     
    }
    .navbar-left {
      padding-left: 0px;
      .navbar-links {
        .navbar-link {
          margin-right: 3px;
        }
      }
    }
    .navbar-right {
      padding-right: 0px;
      .navbar-social-media {
        .navbar-link {
          margin-right: 3px;
        }
      }
    }
  }
  &.scrolled {
    background: darken($darkest-purple, 5);
    border-bottom: 3px solid rgba($dark-purple, 0.5);
  }
}