@import '../../index.scss';

.experience {
  display: flex;
  border: 3px solid $purple;
  flex-direction: column;
  border-radius: 10px;
  .experience-organization, .experience-position {
    h4, h5 {
      margin: 0px;
    }
  }
  .experience-organization {
    padding: 10px;
    border-bottom: 3px solid $purple;
    color: $yellow;
    background: $dark-purple;

    font-size: 16px;
    h4 {
      font-weight: 500;
    }
  }
  .experience-position {
    padding: 10px;

    h5 {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .experience-description {
    border-top: 3px solid $purple;
    padding: 0px 10px 10px 10px;
    color: rgb(189, 189, 189);
    font-family: "Open Sans", sans-serif;
  }
}