$turquoise: #5DE8E5;
$pink: #F44D9B;
$magenta: #E9275B;
$dark-purple: #392270;
$darkest-purple: #01082d;
$almost-black: rgb(1, 4, 19);
$yellow: rgb(255, 255, 102);
$purple: #5736A7;
$light-purple: #7A11FF;
$white: #FFF;

@mixin transition {
  transition: 0.3s all;
}

@mixin no-bullet {
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen&display=swap');

$font-stack: 'Montserrat', sans-serif;

body {
  color: $white;
  background-color: $darkest-purple;
  background-image: url(./media/sunset.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-size: 14px;
  font-family: $font-stack;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.page-content {
  min-height: calc(100vh - 125px);
  padding: 25px;
  padding-top: 25px;
  margin: 0 auto;
  background: $darkest-purple;
  display: flex;
  justify-content: center;
  z-index: 100;
  width: calc(100vw - 50px);
  position: absolute;

  .content-wrapper {
    max-width: 1000px;
  }
}

@mixin shadow {
  box-shadow: 0px 8px 15px rgba(1, 4, 19, 0.5);
}